body{
    background: rgb(8,6,115);
    background: radial-gradient(circle, rgba(8,6,115,1) 0%, rgba(0,0,0,1) 89%);
}
.entrar{
    margin-left: 147vh;
    color: #ffffff;
}

.titulo{
    font-size: 40px;
    color: #ffffff;
}

.home{
    margin-left: 52px;
    color: #ffffff;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: small;
    color: #ffffff;
}
