
.início {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
}

.poema01 {
    background-color: bisque;
    color: black;
}
.poema02 {
    background-color: bisque;
    color: black;
}
.poema03 {
    background-color:bisque;
    color: black;
}
.poema04 {
    background-color: bisque;
    color: black;
}
.poema05 {
    background-color: bisque;
    color: black;
}
.poema06 {
    background-color: bisque;
    color: black;
}