nav{
    background-color: black;
    text-align: right;
    padding: 10px;
}
nav ul a{
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
}
nav ul a:hover{
    color: red;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
